@model List<project_donation.Models.Donor.Donor>
@{
    ViewData["Title"] = "Donors";
}

<div class="container mt-5">
    <h1 class="display-4 text-center mb-4">Lista of Donors </h1>

    <a asp-controller="Donors" asp-action="Create" class="btn btn-primary mb-3">new Donor </a>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id_donor</td>
                        <td>@item.name_donor</td>
                        <td>@item.email_donor</td>
                        <td>@item.phone_donor</td>
                        <td>
                            <a asp-controller="Donors" asp-action="Update" asp-route-id="@item.id_donor" class="btn btn-warning btn-sm">Updata</a>
                            <a asp-controller="Donors" asp-action="Delete" asp-route-id="@item.id_donor" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No records found</td>
                </tr>
            }
        </tbody>
    </table>
</div>
